<div>
<h1>Register Page</h1>

  <label for="Name">Name:</label>
  <input id="Name" [(ngModel)]="name"/>
<br>
  <label for="password">Password:</label>
  <input id="password" [(ngModel)]="password"/>
  <br>
  <label for="email">Email:</label>
  <input id="email" [(ngModel)]="email"/>
  <br>
  <label for="city">City:</label>
  <input id="city" [(ngModel)]="city"/>
  <br>
  <label for="country">Country:</label>
  <input id="country" [(ngModel)]="country"/>
  <br>
  <h2>Name:</h2>
  {{name}}

  <h2>Password:</h2>
  {{password}}

  <h2>Email:</h2>
  {{email}}

  <h2>City:</h2>
  {{city}}

  <h2>Country:</h2>
  {{country}}
</div>